$header-height: 60px;
$logged-button-header-size: 40px;
$login-button-header-size: 100px;
$search-height: 40px;
$header-menu-width: 250px;

header.header {
  @include flex();
  width: 100vw;
  height: $header-height;
  column-gap: 1rem;
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  padding: $rem-mid $rem-very-big;
  z-index: 101;

  @include small-width-up {
    padding: $rem-sm;
  }

  div.header-mid, div.header-left, div.header-right {
    height: 100%;
    position: relative;
  }

  div#header-user-menu {
    width: $header-menu-width;
    position: absolute;
    bottom: - calc(($header-height / 2) + 15px);
    z-index: 2020;
    background-color: $light-secondary-color;
    min-width: 30px;

    ul.header-user-ul-menu {
      @include flex();
      row-gap: $rem-mid;
      width: 100%;

      li {
        @include flex(row, center, flex-start);
        list-style: none;
        min-height: 30px;
        padding: $rem-mid;
        width: 100%;
        transition: $transition-all;

        &:hover {
          background-color: $light-hover-secondary-color;
          cursor: pointer;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: 100%;
      right: 12px;
      border: $rem-mid solid transparent;
      border-top: none;
      border-bottom-color: $light-secondary-color;
    }
  }

  div.header-right {
    @include flex(row, center, flex-end);
    min-width: clamp(150px, 20%, 300px);

    @include mid-width {
      min-width: $login-button-header-size;
    }

    button {
      transform: scale(1);
      transition: $transition-transform;

      &:hover {
        transform: scale(1.05);
      }
    }

    button.logged-in-button {
      width: $logged-button-header-size;
      height: $logged-button-header-size;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    button.login-button {
      width: $login-button-header-size;
      background-color: $highlight-color;
      color: $white;
      font-weight: bold;

      &:hover {
        background-color: $highlight-hover-color;
      }
    }
  }

  div.header-left {
    @include flex(row, center, flex-start);
    column-gap: $rem_mid;
    min-width: clamp(250px, 30%, 400px);
    overflow: hidden;

    @include mid-width {
      min-width: 150px;
      column-gap: 0;
    }

    @include small-width-up {
      min-width: $login-button-header-size;
    }

    div.logo {
      @include flex(row, center, flex-start);
      width: 200px;
      height: $header-height;
      padding-left: 5px;

      @include small-width-up {
        width: $login-button-header-size;
      }

      a {
        @include flex();

        img {
          padding: $rem-sm;
          height: calc($header-height - $rem-mid - 10px);

          @include mid-width {
            width: 100px;
          }
        }
      }
    }

    button {
      @include flex(column, center, center);
      width: $logged-button-header-size;
      height: $logged-button-header-size;
      background: transparent;
      position: relative;
      overflow: hidden;
      padding: 0;

      img {
        width: calc($logged-button-header-size - 30%);
      }
    }
  }

  div.header-mid {
    flex: 0 1 728px;

    @include small-width-up {
      flex: none;
    }

    form {
      width: 100%;
      height: 100%;

      div {
        @include flex(row, center, flex-start);
        width: 100%;
        height: 100%;

        @include mid-width {
          justify-content: flex-end;
        }

        input {
          height: $search-height;
          flex: 2;
          border-radius: 5px 0 0 5px;
          border: 2px solid $mid-secondary-color;
          background-color: $black;
          color: $text-color;

          @include mid-width {
            display: none;
          }
        }

        button {
          @include flex();
          height: $search-height;
          border-radius: 0 5px 5px 0;
          flex: 0;
          background-color: $mid-secondary-color;
          transition: $transition-background;

          @include mid-width {
            background: none;
            border: none;
            width: $logged-button-header-size;
            padding: 0;
          }

          @include small-width-up {
            width: 20px;
          }

          &:hover {
            background-color: $secondary-hover-color;

            @include mid-width {
              background-color: transparent;
            }
          }

          &:hover input {
            border: 2px solid $secondary-hover-color;
          }

          img {
            height: calc($search-height - 1rem);

            @include small-width-up {
              height: 20px;
            }
          }
        }
      }
    }
  }
}