$background-color: #181818;
$primary-color: #3d60bf;
$primary-hover-color: #243972;
$light-primary-color: #5180ff;
$dark-primary-color: #0b1225;
$secondary-color: #202020;
$secondary-hover-color: #2c2c2c;
$light-secondary-color: #6c6c6c;
$dark-secondary-color: #111111;
$text-color: #ffffff;
$white: #ffffff;
$black: #000000;
$highlight-color: #cc0000;