$video-article-width: 260px;
$video-article-img-height: 180px;
$video-article-calculated-clamp-width: clamp($video-article-width, 25vw, $video-article-width + 100px);
$video-article-calculated-clamp-width-mid: clamp($video-article-width - 35px, 35vw, $video-article-width + 100px);
$video-article-calculated-clamp-width-sm-up: clamp(150px, 35vw, 200px);


article.video-article-container {
  width: $video-article-calculated-clamp-width;
  cursor: pointer;
  overflow: hidden;

  @include mid-width {
    width: $video-article-calculated-clamp-width-mid;
  }

  @include small-width-up {
    width: $video-article-calculated-clamp-width-sm-up;
  }

  div.video-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin-bottom: $rem-mid;
    overflow: hidden;

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  div.video-article-details {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: $rem-sm;

    h3.video-article-title {
      @include line-clamp(2);
      width: 100%;
      height: 2.75rem;
      line-height: 1.4rem;
      font-size: 1.2rem;

      @include mid-width {
        font-size: 1rem;
      }
    }

    a.video-article-author, span.video-article-views {
      text-decoration: none;
      color: $light-secondary-color;

      @include mid-width {
        font-size: 1rem;
      }
    }
  }
}