$scrollbar-width: 15px;
$sidebar-width: 250px;
$sidebar-height: calc(100vh - $header-height);
$sidebar-width-small: calc($sidebar-width / 4);

aside.sidebar {
  width: $sidebar-width;
  height: $sidebar-height;
  background: $secondary-color;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: $scrollbar-width;
  position: fixed;
  left: 0;
  top: $header-height;
  z-index: 100;

  @include mid-width {
    width: $sidebar-width-small;
    padding-right: 0;
  }

  @include small-width-up {
    width: 0;
  }

  div.sidebar-container {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    border-bottom: 1px solid $mid-secondary-color;
    padding-bottom: $rem-big;

    @include mid-width {
      border-bottom: none;
    }
  }

  div.sidebar-login-container {
    @include flex(column, center, center);
    row-gap: $rem-big;
    padding-left: $rem-mid;

    @include mid-width {
      display: none;
    }

    button {
      width: 100%;
      text-transform: uppercase;
      border: 1px solid $highlight-color;
      background: transparent;
      color: $highlight-color;
      transform: scale(1);
      font-weight: bold;
      transition: $transition-all;

      &:hover {
        background: $highlight-color;
        color: $white;
        transform: scale(1.05);
      }
    }
  }
}