*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "scss/styles";
@import "scss/preferences";
@import "scss/layout";
@import "scss/colors";
@import "scss/responsive";

:root {
  --small-breakpoint: 576px;
  --mid-breakpoint: 768px;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

@import "components/header/header";
@import "components/nav/nav";
@import "components/sidebar/sidebar";
@import "pages/home/home";
@import "pages/login/login";
@import "components/video-container/video-container";
@import "pages/videos/videos";
@import "pages/content/content";
@import "pages/settings/list-content/list-content";

.main {
  width: calc(100% - $sidebar-width);
  margin-left: $sidebar-width;
  margin-top: $header-height;

  @include mid-width {
    margin-left: $sidebar-width-small;
    width: calc(100% - $sidebar-width-small);
  }

  @include small-width-up {
    margin-left: 0;
    width: 100%;
  }
}