*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "scss/preferences";
@import "scss/layout";
@import "scss/colors";

body {
  background-color: $background-color;
  color: $text-color;
}

@import "components/header/header";