$background-color: #181818;
//$primary-color: #3d60bf;
//$primary-hover-color: #243972;
//$light-primary-color: #5180ff;
//$dark-primary-color: #0b1225;
$primary-color: #271085;
$primary-hover-color: #4a1eff;
$light-primary-color: #4d26b7;
$ultra-light-primary-color: #8d69fa;
$dark-primary-color: #180952;
$secondary-color: #202020;
$secondary-hover-color: #2c2c2c;
$mid-secondary-color: #2e2e2e;
$light-secondary-color: #6c6c6c;
$light-hover-secondary-color: #8d8d8d;
$dark-secondary-color: #111111;
$text-color: #ffffff;
$white: #ffffff;
$black: #000000;
$highlight-color: #de3b7a;
$highlight-hover-color: #ff68a3;