$video-article-width: 260px;
$video-article-img-height: 180px;

main.home-page-main {
  display: flex;
  flex-direction: column;
  row-gap: $rem-very-big;

  @include mid-width {
    width: calc(100% - $sidebar-width-small);
  }

  @include small-width {
    width: 100%;
  }

  h2 {
    margin-bottom: $rem-mid;
  }

  section.home-page-section {
    width: 100%;
    padding: $rem-big;

    div.home-page-video-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: $rem-big;
      overflow-y: hidden;
      overflow-x: scroll;

      article.video-article-container {
        width: clamp($video-article-width, 25vw, $video-article-width + 100px);
        cursor: pointer;
        overflow: hidden;

        @include mid-width {
          width: clamp($video-article-width - 35px, 35vw, $video-article-width + 100px);
        }

        @include small-width-up {
          width: clamp(150px, 35vw, 200px);
        }

        div.video-thumbnail {
          width: 100%;
          aspect-ratio: 16 / 9;
          border-radius: 10px;
          margin-bottom: $rem-mid;
          overflow: hidden;

          img {
            width: 100%;
            aspect-ratio: 16 / 9;
          }
        }

        div.video-article-details {
          width: 95%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          row-gap: $rem-sm;

          h3.video-article-title {
            width: 100%;
            height: 2.75rem;
            line-height: 1.4rem;
            font-size: 1.2rem;
            overflow: hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            white-space: normal;

            @include mid-width {
              font-size: 1rem;
            }
          }

          a.video-article-author, span.video-article-views {
            text-decoration: none;
            color: $light-secondary-color;

            @include mid-width {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}