$content-video-title-size: 1.5rem;
$btn-img-width-height: 25px;
$author-image: 50px;
$comment-container-thread-padding: 40px;
$comment-edit-button-width: 60px;
$video-article-width: 250px;
$video-article-width-small: 300px;
$comment-container-border-radius: 15px;

div.main-profile-container {
  width: 90%;
  min-height: 100px;
  margin: calc($header-height + $rem-very-big) auto 0 auto;

  @include small-width {
    min-width: $min-width;
  }
}

div.profile-sidebar {
  width: $sidebar-width;
  height: $sidebar-height;
  position: absolute;
  left: -$sidebar-width;
}

main.profile-main {
  @include flex(row, flex-start, space-between);
  column-gap: $rem-big;
  padding-bottom: $rem-very-big;

  @include mid-width {
    flex-direction: column;
    row-gap: $rem-very-big;
    width: 100%;
  }

  @include small-width {
    min-width: $min-width;
    width: 100%;
  }

  div.left-video {
    flex: 1;

    @include mid-width {
      width: 100%;
    }

    @include small-width {
      width: 100%;
      min-width: 300px;
    }

    div.video-container {
      width: 100%;
      aspect-ratio: 16 / 9;

      video {
        width: 100%;
        height: 100%;
        background: antiquewhite;
      }
    }
  }

  div.related-videos {
    @include flex(column, flex-start, center);
    row-gap: $rem-big;
    width: clamp(200px, 35%, 400px);

    @include mid-width {
      width: 100%;
    }

    @include small-width {
      min-width: $min-width;
    }

    article.related-videos-video-container {
      @include flex-center();
      column-gap: $rem-big;
      width: 100%;

      @include mid-width {
        width: 100%;
      }

      div.video-thumbnail {
        @include flex-center();
        width: $video-article-width;

        @include mid-width {
          width: $video-article-width-small;
        }
      }

      div.video-article-details {
        h3 {
          font-size: $rem-big;
        }

        a.video-article-author, span.video-article-views {
          font-size: 0.9rem;
        }
      }
    }
  }
}

main.profile-main div.under-video-container {
  width: 100%;
  margin-top: $rem-big;

  div.content-info {
    width: 100%;
    border-bottom: 1px solid $light-secondary-color;
    padding-bottom: $rem-mid;

    h1 {
      @include line-clamp(2);
      width: 100%;
      min-height: $content-video-title-size;
      max-height: calc($content-video-title-size * 2 + $rem-mid);
      font-size: $content-video-title-size;
    }

    div.video-info {
      @include flex(row, center, space-between);
      font-size: $rem-big;

      div.video-basic-info {
        display: flex;
        flex-direction: row;
        column-gap: $rem-big;
        color: $light-secondary-color;
      }

      div.like-dislike-buttons-container {
        @include flex();
        column-gap: $rem-mid;

        button {
          @include flex();
          column-gap: $rem-mid;
          background: transparent;
          color: $text-color;
          font-weight: bold;
          font-size: 1.1rem;
          transform: scale(1);
          transition: all 0.1s ease-in;
          position: relative;


          &.like-button:active, &.dislike-button:active {
            transform: scale(0.9);
          }

          img {
            content: '';
            width: $btn-img-width-height;
            height: $btn-img-width-height;
          }
        }
      }
    }
  }

  div.author-description-info {
    width: 100%;
    margin: $rem-big 0;

    div.video-author-container div.video-author {
      @include flex(row, center, flex-start);
      column-gap: $rem-mid;
      margin-bottom: $rem-mid;

      div.small-profile-image {
        width: $author-image;
        height: $author-image;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        a {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      div.author-name {
        a {
          @include a-hover-white-gray();
        }
      }
    }
  }
}

div.video-comments-container {
  display: flex;
  flex-direction: column;
  row-gap: $rem-big;
  width: 100%;

  div.reply-form-container, div.edit-form-container {
    width: 100%;
  }

  form.video-comment-form {
    @include flex(column, center, center);
    width: 100%;
    row-gap: $rem-big;

    textarea {
      width: 100%;
      padding: $rem-mid;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $light-secondary-color;
      color: $white;
      resize: none;

      &::placeholder {
        color: $light-secondary-color;
      }
    }

    button[type="button"] {
      background-color: $primary-color;
      color: $white;
      transition: $transition-all;
      width: 100%;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }

  div.commments {
    @include flex(column, flex-start, center);
    row-gap: $rem-very-big;
    width: 100%;

    div.thread-comment-container {
      @include flex(column, flex-start, center);
      row-gap: $rem-big;
      position: relative;
      width: 100%;
      padding: $rem-big;
      background-color: $mid-secondary-color;
      border-radius: $comment-container-border-radius;
    }

    div.comment-container {
      @include flex(column, flex-start, center);
      row-gap: $rem-big;
      position: relative;
      width: 100%;

      div.comment-author {
        @include flex(column, flex-start, center);
        width: 100%;
        min-height: 20px;
        row-gap: $rem-sm;

        a {
          @include a-hover-white-gray();
          font-weight: bold;
        }

        span {
          color: $light-secondary-color;
          font-size: 0.75rem;
        }
      }

      div.comment-text {
        width: 100%;

        /* @TODO asi odstranit, nebudem to robit cez editable */
        p {
          &.editable {
            padding: $rem-big;
            border-bottom: 1px solid $light-secondary-color;
          }
        }
      }

      div.comment-buttons {
        position: absolute;
        right: 0;
        top: $rem-mid;
        opacity: 0;
        transition: $transition-all;

        @include small-width {
          position: relative;
          right: 0;
          top: 0;
          opacity: 1;
        }

        button {
          width: 60px;
          color: $white;
          transition: $transition-all;

          &.edit-button, &.reply-button {
            background-color: $light-secondary-color;

            &:hover {
              background-color: $light-hover-secondary-color;
            }
          }

          &.delete-button {
            background-color: $highlight-color;

            &:hover {
              background-color: $highlight-hover-color;
            }
          }
        }
      }

      &:hover > div.comment-buttons {
        opacity: 1;
      }

      &.r-2 {
        padding-left: $comment-container-thread-padding;
      }
    }

    div.reply-comment-container {
      @include flex(column, flex-start, center);
      row-gap: $rem-big;
      position: relative;
      width: 100%;

      div.reply {
        background-color: $secondary-color;
        padding: $rem-big;
        border-radius: $comment-container-border-radius;

        div.comment-buttons {
          right: $rem-big;
          top: $rem-big;

          @include small-width {
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}